* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px; }

body {
  line-height: 1.6;
  overflow-x: hidden; }

hr {
  background-color: #dddddd;
  height: 1.4px;
  border: none; }

.main__content > *,
.portfolio > *,
.info > * {
  margin-top: 1em;
  margin-bottom: 1em; }

.container {
  background-color: #111318; }

.horizontal__bar {
  height: 4px;
  width: 60px;
  background-color: #ff2e62; }

.container__sidebar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.392), rgba(0, 0, 0, 0.392)), url(/img/bg-img2.jpg);
  background-size: cover; }

.sidebar {
  padding: 4em 2em;
  text-align: center; }
  .sidebar__portfolio-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #06aca9;
    margin-bottom: 1em;
    animation: bounce-in-fwd 1.1s both; }
  .sidebar__paragraph {
    color: #06aca9;
    font-size: 1.3em;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
  .sidebar__paragraph > span {
    font-size: inherit;
    color: #e6e6e6; }

.container__main {
  margin: 0 2em; }

.info {
  padding-bottom: 2em;
  margin-bottom: 2em; }
  .info__title {
    color: #e6e6e6;
    font-size: 1.6em; }
  .info__paragraph {
    color: #e6e6e6; }
  .info__form > * {
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
  .info__form * > label {
    padding-left: 1.1em;
    color: #e6e6e6; }

.btn {
  max-width: 100%;
  border: 2px solid #06aca9;
  background-color: #111318;
  padding: 0.8em 2em;
  color: #06aca9;
  border-radius: 4px;
  text-transform: capitalize;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer; }

.btn:hover {
  background-color: #06aca9;
  color: #e6e6e6;
  transform: translateY(-0.5em); }

.main__content-title {
  color: #e6e6e6;
  font-size: 1.6em;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

.main__content-paragraph {
  color: #e6e6e6;
  letter-spacing: 0.02em;
  font-size: 1.1em;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

.main__content-btn {
  background-color: #f70240;
  color: #e6e6e6;
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation-delay: 1s;
  border: 2px solid #f70240; }

.main__content-btn:hover {
  background-color: #d90238;
  border: 2px solid #d90238; }

.photo__card > * {
  padding-top: 0.25em; }

.photo__card {
  display: flex;
  flex-direction: column; }
  .photo__card-img {
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
    max-width: 100%;
    flex: 1; }
  .photo__card-title {
    color: #e6e6e6;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
  .photo__card-paragraph {
    color: #e6e6e6;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

.portfolio__title {
  color: #e6e6e6; }

.portfolio__project {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.2em;
  max-width: 100%; }

.input-field {
  min-width: 100%;
  border: 2px solid #20242d;
  background-color: #20242d;
  padding: 0.8em 0;
  color: #a5a5a5;
  border-radius: 6px;
  text-transform: capitalize;
  padding-left: 1em; }
  .input-field::placeholder {
    color: #a5a5a5; }

.input-field:focus {
  border: 2px solid #06aca9;
  outline: none; }

.footer {
  background-color: #20242d;
  color: white;
  padding: 1em 1.5em;
  text-align: center;
  margin: 0 -2em; }
  .footer__paragraph > * {
    color: white; }

.text-grey {
  color: #858383; }

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in; }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out; }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in; }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out; }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in; }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out; } }

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0; }
  100% {
    filter: blur(0);
    opacity: 1; } }

@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%; }
  10% {
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    transform: rotate(4deg); }
  80% {
    transform: rotate(-2deg); }
  90% {
    transform: rotate(2deg); } }

@media (min-width: 500px) {
  .container__sidebar {
    background-position: right; }
  .portfolio__project {
    grid-template-columns: repeat(2, 1fr); }
  .photo__card-img {
    height: 200px; } }

@media (min-width: 720px) {
  .main__content-title {
    padding-right: 5em; }
  .main__content-paragraph {
    padding-right: 5em; }
  .info__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em; }
    .info__form .textarea-field {
      grid-column: 1 / span 2; }
    .info__form > .btn {
      width: 50%; }
  .info__form > * {
    margin-top: 0;
    margin-bottom: 0; } }

@media (min-width: 970px) {
  .container {
    display: flex;
    flex-direction: column; }
  .container__sidebar {
    height: 100%;
    width: 35%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: block;
    padding-top: 5em; }
  .container__main {
    margin-left: 40%;
    width: 55%; }
  .sidebar {
    text-align: right;
    padding-left: 2em; }
    .sidebar__portfolio-img {
      width: 130px;
      height: 130px; }
    .sidebar__paragraph {
      font-size: 1.6em; }
    .sidebar__paragraph > span {
      font-size: inherit; }
  .portfolio__project {
    gap: 2em; }
  .footer {
    margin: 0 -4.1em; }
    .footer__paragraph > * {
      color: white; } }
