* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px; }

body {
  line-height: 1.6; }

hr {
  background-color: #dddddd;
  height: 1.6px;
  border: none; }

.main__content > *,
.portfolio > *,
.info > * {
  margin-top: 1em;
  margin-bottom: 1em; }

.container__sidebar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.392), rgba(0, 0, 0, 0.392)), url(/img/bgi-img.jpg);
  background-size: cover; }

.sidebar {
  padding: 4em 2em;
  text-align: center; }
  .sidebar__portfolio-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover; }
  .sidebar__paragraph {
    color: white;
    font-size: 1.3em; }
  .sidebar__paragraph > span {
    font-size: 1em; }

.container__main {
  margin: 0.5em 2em; }

.info__title {
  color: #858383;
  font-size: 1.3em; }

.info__paragraph {
  color: #a5a5a5; }

.info__form > * {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.main__content-title {
  color: #858383;
  font-size: 1.3em; }

.main__content-paragraph {
  color: #a5a5a5; }

.btn {
  max-width: 100%;
  border: 2px solid #dddddd;
  background-color: white;
  padding: 0.8em 2em;
  color: #858383;
  border-radius: 6px;
  text-transform: capitalize; }

.photo__card > * {
  padding-top: 0.25em; }

.photo__card {
  display: flex;
  flex-direction: column; }
  .photo__card-img {
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
    max-width: 100%;
    flex: 1; }
  .photo__card-title {
    color: #858383; }
  .photo__card-paragraph {
    color: #a5a5a5; }

.portfolio__title {
  color: #858383; }

.portfolio__project {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.2em;
  max-width: 100%; }

.input-field {
  min-width: 100%;
  border: 2px solid #f0f0f0;
  background-color: #f0f0f0;
  padding: 0.8em 0;
  color: #a5a5a5;
  border-radius: 6px;
  text-transform: capitalize;
  padding-left: 1em; }
  .input-field::placeholder {
    color: #a5a5a5; }

.footer {
  background-color: #2c2b2b;
  color: white;
  padding: 1.5em 1em;
  text-align: center;
  margin: 0 -2em -2em -2em; }
  .footer__paragraph > * {
    color: white; }

.text-grey {
  color: #858383; }

@media (min-width: 500px) {
  .portfolio__project {
    grid-template-columns: repeat(2, 1fr); }
  .photo__card-img {
    height: 200px; } }
