.container__sidebar {
	background-image: linear-gradient(
			rgba(0, 0, 0, 0.392),
			rgba(0, 0, 0, 0.392)
		),
		url(/img/bg-img-3.jpg);
	background-size: cover;
}

.sidebar {
	padding: 4em 2em;
	text-align: center;
	&__portfolio-img {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		object-fit: cover;
		border: 3px solid $color-main;
		margin-bottom: 1em;
		animation: bounce-in-fwd 1.1s both;
	}

	&__paragraph {
		color: $color-main;
		font-size: $font-size-small;
		animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
	}

	&__paragraph > span {
		font-size: inherit;
		color: $color-white;
	}
}
