.container__sidebar {
	background-image: linear-gradient(
			rgba(0, 0, 0, 0.392),
			rgba(0, 0, 0, 0.392)
		),
		url(/img/bgi-img.jpg);
	background-size: cover;
}

.sidebar {
	padding: 4em 2em;
	text-align: center;
	&__portfolio-img {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		object-fit: cover;
	}

	&__paragraph {
		color: $color-main;
		font-size: $font-size-small;
	}

	&__paragraph > span {
		font-size: inherit;
		color: $color-white;
	}
}
