.container__sidebar {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(/img/bgi-img.jpg);
	background-size: cover;
}

.sidebar {
	padding: 4em 2em;
	text-align: center;
	&__portfolio-img {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		object-fit: cover;
	}

	&__paragraph {
		color: white;
		font-size: $font-size-mid;
	}

	&__paragraph > span {
		font-size: 1em;
	}
}
