.info {
	padding-bottom: 2em;
	margin-bottom: 2em;
	&__title {
		color: $color-white;
		font-size: $font-size-mid;
	}
	&__paragraph {
		color: $color-white;
	}

	&__form > * {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	&__form > label {
		color: $color-white;
	}
}
