@media (min-width: 500px) {
	.container__sidebar {
		background-position: right;
	}
	.portfolio {
		&__project {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.photo__card {
		&-img {
			height: 200px;
		}
	}
}

@media (min-width: 720px) {
	.main__content {
		&-title {
			padding-right: 5em;
		}
		&-paragraph {
			padding-right: 5em;
		}
	}

	.info {
		&__form {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1em;
			& .textarea__field {
				grid-column: 1 / span 2;
			}
			& > .btn {
				width: 50%;
			}
		}
		&__form > * {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

@media (min-width: 970px) {
	.container {
		display: flex;
		flex-direction: column;
	}
	.container__sidebar {
		height: 100%;
		width: 35%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		overflow-x: hidden;
		display: block;
		padding-top: 5em;
	}
	.container__main {
		margin-left: 40%;
		width: 55%;
	}

	.sidebar {
		text-align: right;
		padding-left: 2em;
		&__portfolio-img {
			width: 130px;
			height: 130px;
		}

		&__paragraph {
			font-size: $font-size-mid;
		}

		&__paragraph > span {
			font-size: inherit;
		}
	}
	.portfolio {
		&__project {
			gap: 2em;
		}
	}
	.footer {
		margin: 0 -4.1em;
		&__paragraph {
			& > * {
				color: white;
			}
		}
	}
}
