$color-grey-lighter: rgb(165, 165, 165);

$color-grey-light: rgb(133, 131, 131);

$margin-top-small: 1em;
$margin-bottom-small: 1em;

$font-size-xsmall: 1.1em;
$font-size-small: 1.3em;
$font-size-mid: 1.6em;

$color-bg: hsl(220, 17%, 8%);
$color-white: hsl(0, 0%, 90%);
$color-main: hsl(179, 93%, 35%);
$color-red: hsl(345, 98%, 49%);
$color-red-hover: hsl(345, 98%, 43%);
