.btn {
	max-width: 100%;
	border: 2px solid $color-main;
	background-color: $color-bg;
	padding: 0.8em 2em;
	color: $color-main;
	border-radius: 4px;
	text-transform: capitalize;
	font-weight: bold;
	transition: all 0.3s;
	cursor: pointer;
}

.btn:hover {
	background-color: $color-main;
	color: $color-white;
	transform: translateY(-0.5em);
}
