.input-field {
	min-width: 100%;
	border: 2px solid hsl(0, 0%, 94%);
	background-color: hsl(0, 0%, 94%);
	padding: 0.8em 0;
	color: $color-grey-lighter;
	border-radius: 6px;
	text-transform: capitalize;
	padding-left: 1em;
	&::placeholder {
		color: $color-grey-lighter;
	}
}
