.main__content {
	&-title {
		color: $color-white;
		font-size: $font-size-mid;
	}
	&-paragraph {
		color: $color-white;
		letter-spacing: 0.02em;
		font-size: $font-size-xsmall;
	}
	&-btn {
		background-color: $color-red;
		color: $color-white;
		border: 2px solid $color-red;
	}
	&-btn:hover {
		background-color: $color-red-hover;
		border: 2px solid $color-red-hover;
	}
}
