.photo__card > * {
	padding-top: 0.25em;
}
.photo__card {
	display: flex;
	flex-direction: column;

	&-img {
		overflow: hidden;
		border-radius: 10px;
		object-fit: cover;
		max-width: 100%;
		flex: 1;
	}
	&-title {
		color: $color-white;
		animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
	}
	&-paragraph {
		color: $color-white;
		animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
	}
}
