* {
	box-sizing: border-box;
	margin: 0;
	font-size: 16px;
}

body {
	line-height: 1.6;
	overflow-x: hidden;
}

hr {
	background-color: rgb(221, 221, 221);
	height: 1.4px;
	border: none;
}

.main__content > *,
.portfolio > *,
.info > * {
	// padding-top: 0.5em;
	margin-top: $margin-top-small;
	margin-bottom: $margin-bottom-small;
}

.container {
	background-color: $color-bg;
}

.horizontal__bar {
	height: 4px;
	width: 60px;
	// background-color: hsl(272, 72%, 52%);
	background-color: hsl(345, 100%, 59%);
}
